@use "config" as *;

body {
    width: auto;

    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    background-color: $VeryDarkBlue;
    background-image: url("../src/images/bg-desktop-dark.jpg");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: clamp(20rem, 10vw + 20rem, 42rem);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 4rem;
    align-items: center;
    color: $LightGrayishBlue;
}

.header {
    width: 100%;
    display: flex;
    align-items: space-between;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.add-todo {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: $VeryDarkDesaturatedBlue;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        width: 100%;
        height: 3rem;
        outline: transparent;
        border: transparent;
        padding: 0.5rem;
        border-radius: 5px;
        background-color: transparent;
        color: $DarkGrayishBlue;
    }

    #submit {
        background: none;
        border: none;
        font-size: 1rem;
        font-weight: 700;
        color: $VeryDarkGrayishBlue;
        margin: 0 1rem;

        &:hover {
            color: $BrightBlue;
        }
    }
}

.todos {
    width: 100%;
    border-radius: 5px;
    background-color: $VeryDarkDesaturatedBlue;
    margin-bottom: 2rem;
}

.todo-list {
    width: 100%;
    background-color: transparent;

    .todo-item {
        width: 100%;
        font-size: 0.8rem;
        height: 3rem;
        outline: transparent;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid $VeryDarkGrayishBlue2;
        display: flex;
        align-items: center;

    }
}


.completed {
    color: $DarkGrayishBlue;
    text-decoration: line-through;
}

.checkbox-container {
    width: 18px;
    height: 18px;
    display: block;
    position: relative;
    display: flex;
    margin: 0 1rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;


    .checkbox {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        background-clip: padding-box;
        background-color: $VeryDarkDesaturatedBlue;
        border: 1px solid $VeryDarkGrayishBlue2;
        cursor: pointer;

        &:hover ~ .checkbox::before {
            content: "";
            background-image: linear-gradient(to top left, (#d05aff, #5af4ff));
            display: block;
        }
    }

    .checkbox:after {
        content: "";
        position: absolute;
        display: none;
        top: 4px;
        left: 4px;
        width: 8px;
        height: 8px;
    }

    .checkbox-checked {
        background-image: linear-gradient(to top left, (#d05aff, #5af4ff));
        z-index: 2;
    }

    .checkbox-checked::after {
        display: block;
        background-image: url("../src/images/icon-check.svg");
        background-position: center;
        background-repeat: no-repeat;
    }
}

.todo-content {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    .delete-todo {
        margin-right: 1.1rem;
        border: none;
        cursor: pointer;
        background-color: transparent;
        opacity: 0;
        transition: all 200ms ease-in-out;
    }

    &:hover .delete-todo {
        opacity: 1;
    }
    .delete-todo:hover {
        color: $BrightBlue;
    }
}

.controls {
    padding: 0 1rem;
    height: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7em;
    font-weight: 700;
    color: $VeryDarkGrayishBlue;
}

.segregate-btn,
.clear-btn {
    background: none;
    border: none;
    font-size: 0.7rem;
    font-weight: 700;
    color: $VeryDarkGrayishBlue;
    margin: 0 0.5rem;

    &:hover,
    &:active {
        color: $BrightBlue;
    }
 
}

.active {
    color: $BrightBlue;
}


.reorder {
    font-size: 0.7rem;
    font-weight: 700;
    color: $VeryDarkGrayishBlue;
}

.attribution {
    color: $DarkGrayishBlue;
    width: 100%;
    position: fixed;
    bottom: 1rem;
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}
