@use "config" as *;

body {
    width: 100vw;

    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    background-color: $VeryDarkBlue;
    background-image: url('../src/images/bg-desktop-dark.jpg');
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.container {
    width: clamp(20rem, 3wv + 18rem , 42rem );
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 4rem;
    align-items: center;
    color: $LightGrayishBlue;
}

.header {
    width: 100%; 
    display: flex;
    align-items: space-between;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2rem;
  
}

.add-todo {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 5px;
    
    input {
        width: 100%;
        height: 2.5rem;
        outline: transparent;
        border: transparent;
        padding: 0.5rem;
        border-radius: 5px;
        background-color: $VeryDarkDesaturatedBlue;

    }
}

.todos {
    width: 100%;
    border-radius: 5px;
}

.todo-list {
    width: 100%;
 



    .todo-item {
        width: 100%;
        font-size: 0.8rem;
        height: 3rem;
        outline: transparent;
        border: none;
 
        background-color: $VeryDarkDesaturatedBlue;
        border-bottom: 1px solid $VeryDarkGrayishBlue2;
        display: flex;
        align-items: center;


        .todo-container {
                position: relative;
                display: inline-block;
                margin: 1rem;    
                cursor: pointer;
                     

                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer
                }

           .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border-bottom: 2px solid $VeryDarkGrayishBlue2;
            background-color: $VeryDarkDesaturatedBlue;

            .input:checked {
                background-color: red;
            }
           }
           
            
        }
    }
}

.attribution {
    color: $DarkGrayishBlue;
    width: 100%;
    position: fixed;
    bottom: 1rem;
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}